@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body::before {
    z-index: -1000;
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0; 
    content: '';
    color: rgba(0, 0, 0, 0.253);
}

.slider-container {
    border: 5px solid black; 
    width: 80vw; 
    margin: 0 auto; 
    height: 40vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 4rem;
}

.slide {
    position: absolute;
    column-gap: 160px; 
    width: 100%; 
    height: 100%; 
    background: var(--clr-primary-9); 
    color: var(--clr-white);
    display: flex; 
    place-items: center;
    transition: all 1.5s ease-in-out; 
    text-align: center; 
    background-color:rgba(63, 63, 63, 0.514);
}

#titulo {
    text-align: center;
    color: rgb(4, 4, 190);
}

#titulo::before {
    content: "";
    position: absolute; 
    border: 3px solid black;
    width: 290px; 
    top: 180px;
}

.slide p {
    float: center;
    width: 40%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    box-shadow: 8px 10px 10px black;
    border-radius: 10px;
}

.slide-img {
    height:80%;
    object-fit: cover;
    border: 3px solid black;
    box-shadow: 10px 9px 9px white;
    border-radius: 10px;
    margin-left: 10px;
}

#logo {
    margin-top: 20px;
    margin-left: 1300px;
}

#wallpaper {
    z-index: -10000;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
}

.slide:nth-child(1) h1 {
    position: absolute; 
    text-align: center;
}

.slide:nth-child(2) h1 {
    position: absolute; 
    text-align: center;
}

.slide:nth-child(3) h1 {
    position: absolute; 
    text-align: center;
}

.slide:nth-child(4) h1 {
    position: absolute; 
    text-align: center;
}

.slide:nth-child(5) h1 {
    position: absolute; 
    text-align: center;
}

.btn-container {
    display: flex; 
    justify-content: center;
    margin-top: -8rem; 
}

.prevBtn , .nextBtn {
    font-size: 1.75rem;
    cursor: pointer; 
    margin: 0 0.25rem;
    margin-top: 200px; 
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: 0.5s;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: 2px white solid;
}

.prevBtn:hover, 
.nextBtn:hover {
    color: white;
    background-color: rgb(4, 4, 190);

}

.slide:nth-child(1) {
    left: 0%; 
}

.slide:nth-child(2) {
    left: 100%; 
} 

.slide:nth-child(3) {
    left: 200%; 
}

.slide:nth-child(4) {
    left: 300%; 
}

.slide:nth-child(5) {
    left: 400%; 
}

.slide {
    transform: translateX(0%);
}

